@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

@layer components {
  .prose {
    @apply max-w-none;
  }
}

.glass-nav {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

